.new
{
    text-align: center;
    margin-top: 50px;
    
}
.new2
{
    width: 200px;
    height: 70px;
    background-color: blue;
    color: white;
}
.new2:hover
{
    background-color: greenyellow;
}